@import "../../globalStyles.module.css";

.fontPreview {
  margin-top: 20px;
}

.fontPreviewContainer {
  width: var(--desktop-container-width);
  margin: auto;
}

.nameSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fontName {
  font-size: 36px;
}

.downloadButton {
  display: block;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.downloadButton:hover {
  background-color: #444;
}

.previewBox {
  /* border: 1px solid #ccc; */
  padding: 50px;
  margin: 20px 0;
  text-align: center;
}

.inputSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.fontSizeSection {
  flex: 2;
  display: flex;
  align-items: center;
}

.fontSizeValue {
  margin-right: 10px;
  font-size: 16px;
}

.inputBox {
  flex: 5;
}

.textInput {
  width: 100%;
  outline: none;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 100px;
  font-size: 16px;
}

/* Styling the range input */
.fontSize {
  width: 100%;
  cursor: pointer;
}

.fontSize::-webkit-slider-runnable-track {
  /* Webkit (Chrome/Opera) specific styles */
  height: 4px;
  background-color: #ddd;
}

.fontSize::-moz-range-track {
  /* Firefox specific styles */
  height: 4px;
  background-color: #ddd;
}

.fontSize::-webkit-slider-thumb {
  /* Webkit specific styles */
  width: 16px;
  height: 16px;
  background-color: #007bff;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-appearance: none;
  margin-top: -6px;
}

.fontSize::-moz-range-thumb {
  /* Firefox specific styles */
  width: 16px;
  height: 16px;
  background-color: #007bff;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-top: -6px;
}

.fontSize::-moz-focus-inner {
  border: 0;
}

.fontSize:focus,
.fontSize:hover {
  outline: none;
}

.bodyContent {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.alphabet {
  flex: 2;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.paragraph {
  flex: 3;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .fontPreviewContainer {
    width: var(--mobile-container-width);
  }

  .nameSection {
    flex-direction: column;
  }

  .fontName {
    font-size: 32px;
  }

  .downloadButton {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-size: 14px;
    width: 90%;
    padding: 12px 0;
  }

  .inputSection {
    flex-direction: column;
  }

  .fontSizeSection {
    width: 90%;
  }

  .inputBox {
    width: 100%;
  }

  .bodyContent {
    flex-direction: column;
    margin-bottom: 90px;
  }

  .alphabet {
    width: 100%;
  }

  .paragraph {
    width: 100%;
  }
}
