@import "../../globalStyles.module.css";

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fontPreview {
  margin-top: 20px;
}

.fontPreviewContainer {
  width: var(--desktop-container-width);
  margin: auto;
}

.nameSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fontNameEn {
  font-size: 36px;
}
.fontNameSi {
  font-size: 24px;
  font-family: var(--sinhala-font-family);
}

.downloadButton {
  display: block;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.downloadButton:hover {
  background-color: #444;
}

.previewBox {
  /* border: 1px solid #ccc; */
  padding: 50px;
  margin: 20px 0;
  text-align: center;
}

.bodyContent {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.alphabet {
  flex: 2;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.paragraph {
  flex: 3;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .fontPreviewContainer {
    width: var(--mobile-container-width);
  }

  .nameSection {
    flex-direction: column;
  }

  .fontName {
    font-size: 32px;
  }

  .downloadButton {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-size: 14px;
    width: 90%;
    padding: 12px 0;
  }

  .inputSection {
    flex-direction: column;
  }

  .fontSizeSection {
    width: 90%;
  }

  .inputBox {
    width: 100%;
  }

  .bodyContent {
    flex-direction: column;
    margin-bottom: 90px;
  }

  .alphabet {
    width: 100%;
  }

  .paragraph {
    width: 100%;
  }
}
