.packCard {
  position: relative;
}

.packCardContainer {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
}

.packName {
  padding: 5px 10px;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 16px;
}

.packPreview {
  padding: 10px 0;
}

.button {
  right: 10px;
  bottom: 10px;
  position: absolute;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonIcon {
  font-size: 24px;
  color: #555;
}

.button:hover {
  background-color: #ccc;
}
