@keyframes moveImages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.ShowcaseContainer {
  margin-top: 30px;
  overflow: hidden;
}

.ShowcaseFonts {
  display: flex;
  animation: moveImages 30s linear infinite;
  align-items: center;
}

.showcaseFont {
  font-size: 30px;
  color: #555;
  height: auto;
  margin-right: 50px;
}
