@font-face {
  font-family: "FM Abhaya";
  src: url("./FM-Abhaya.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FM Arjun";
  src: url("./FM-Arjun.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FM Basuru";
  src: url("./FM-Basuru.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FM Bindumathi";
  src: url("./FM-Bindumathi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FM Derana";
  src: url("./FM-Derana.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FM Emanee";
  src: url("./FM-Emanee.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FM Ganganee";
  src: url("./FM-Ganganee.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FM Gemunu";
  src: url("./FM-Gemunu.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FM Malithi";
  src: url("./FM-Malithi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FM Rajantha";
  src: url("./FM-Rajantha.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FM Samantha";
  src: url("./FM-Samantha.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
