@import "../../globalStyles.module.css";

.header {
  border-bottom: 1px solid #5e5e5e;
}

.headerContainer {
  width: var(--desktop-container-width);
  margin: auto;
}

.headerGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  flex: 1;
}

.logoImg {
  max-width: 120px;
  height: auto;
}

.fontsSearch {
  flex: 3;
}

.searchInput {
  width: 100%;
  outline: none;
  padding: 15px 20px;
  border: 1px solid #5e5e5e;
  border-radius: 100px;
  font-size: 16px;
}

.fontsPageContainer {
  width: var(--desktop-container-width);
  margin: auto;
  margin-bottom: 50px;
}

.inputSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: 50px 0;
}

.fontSizeSection {
  flex: 2;
  display: flex;
  align-items: center;
}

.fontSizeValue {
  margin-right: 10px;
  font-size: 16px;
}

.inputBox {
  flex: 5;
}

.textInput {
  width: 100%;
  outline: none;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 100px;
  font-size: 16px;
}

/* Styling the range input */
.fontSize {
  width: 100%;
  cursor: pointer;
}

.fontSize::-webkit-slider-runnable-track {
  /* Webkit (Chrome/Opera) specific styles */
  height: 4px;
  background-color: #ddd;
}

.fontSize::-moz-range-track {
  /* Firefox specific styles */
  height: 4px;
  background-color: #ddd;
}

.fontSize::-webkit-slider-thumb {
  /* Webkit specific styles */
  width: 16px;
  height: 16px;
  background-color: #007bff;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-appearance: none;
  margin-top: -6px;
}

.fontSize::-moz-range-thumb {
  /* Firefox specific styles */
  width: 16px;
  height: 16px;
  background-color: #007bff;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-top: -6px;
}

.fontSize::-moz-focus-inner {
  border: 0;
}

.fontSize:focus,
.fontSize:hover {
  outline: none;
}

.switchButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.switchButtons button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  color: #333;
  outline: none;
  border-radius: 5px;
}

.switchButtons button.active {
  background-color: #555;
  color: #fff;
  border-color: #555;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 4px;
}

.pagination button:hover {
  background-color: #cccccc;
}

.pagination button.active {
  background-color: #cccccc;
}

@media only screen and (max-width: 600px) {
  .headerContainer {
    width: var(--mobile-container-width);
  }

  .headerGroup {
    flex-direction: column;
  }

  .fontsSearch {
    width: 100%;
    margin-top: 10px;
  }

  .fontsPageContainer {
    width: var(--mobile-container-width);
  }

  .inputSection {
    flex-direction: column;
  }

  .fontSizeSection {
    width: 90%;
  }

  .inputBox {
    width: 100%;
  }
}
